unzipTestFTP/target/classes/unzippankaj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <file:connector name="File"  autoDelete="true" streaming="true" validateConnections="true" doc:name="File" pollingFrequency="10000">
   
    </file:connector>
    
     <flow name="zipproject_Flow2" processingStrategy="queued-asynchronous" initialState="started">
        <file:inbound-endpoint path="C:\Users\MuleSoft\Desktop\unzip\FTP\Zip_Input" connector-ref="File" responseTimeout="10000" doc:name="File"/>
        <expression-component doc:name="Expression"><![CDATA[
org.mule.util.FileUtils.unzip(new File(message.inboundProperties.directory+"/"+message.inboundProperties.originalFilename),new File('C:/Users/MuleSoft/Desktop/unzip/FTP/Input'));
//new File(null);
]]></expression-component>
        <logger level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="zipproject_Flow3" initialState="started" processingStrategy="queued-asynchronous">
        <file:inbound-endpoint path="C:\Users\MuleSoft\Desktop\unzip\FTP\Input" connector-ref="File" responseTimeout="10000" doc:name="File_" disableTransportTransformer="true"/>
        <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
        <scatter-gather doc:name="Scatter-Gather">
            <file:outbound-endpoint path="C:\Users\MuleSoft\Desktop\unzip\FTP\output" outputPattern="#[message.id +&quot;_&quot;+ message.inboundProperties.originalFilename]" connector-ref="File" responseTimeout="10000" doc:name="File_OutPut"/>
            <file:outbound-endpoint path="C:\Users\MuleSoft\Desktop\unzip\FTP\backup" outputPattern="#[message.id +&quot;_&quot;+ message.inboundProperties.originalFilename]" connector-ref="File" responseTimeout="10000" doc:name="File_BackUp"/>
        </scatter-gather>
        <logger level="INFO" doc:name="Logger"/>
    </flow>

</mule>
